/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: rgb(42, 0, 255) }
  .kwd { color: rgb(127, 0, 85); font-weight: bold }
  .com { color: rgb(63, 127, 95);}
  .typ { color: rgb(0, 192, 0); font-weight: bold }
  .lit { color: rgb(42, 0, 255) }
  .pun, .opn, .clo { color: #440 }
  .tag { color: rgb(184, 160, 0)}
  .atn { color: #404 }
  .atv { color: #060 }
  .dec { color: rgb(42, 0, 255); font-style:italic; }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */

ol.linenums{
    counter-reset:linenumber;
}
ol.linenums li{
    list-style-type:none;
    counter-increment:linenumber;
}
ol.linenums li:before{
	color: #C0C0C0;
    content: counter(linenumber);
    float:left;
    margin-left:-4em;
    text-align:right;
    width:3em;
}
