.md-logo {
	display: none;
}

/*For mermaid diagrams*/
svg {
    width:100% !important;
    height:auto !important;
}

[data-md-color-primary=black] .md-header {
	background-color: #494949;
}

.md-header-nav {
	background-color: #494949;
}

.epsilon-eclipse-links {
    display: table;
}

.epsilon-eclipse-links ul {
    display: table-row;
}

.epsilon-eclipse-links li {
    display: table-cell;
    padding: 1em;
}
