.codebox {
	background-color:#F0EDF8;
	padding:10px;
	border:1px solid #D7D7D7;
}

.warningbox  {
	background-color:#FFF6B5;
	padding:10px;
	border:1px solid #D7D7D7;
	margin-top:10px
}

.whitebox  {
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px
}

.bluebox  {
	background-color1:rgb(160,206,241);
	background-color:rgb(207, 228, 155);
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid rgb(139,197,61);
	margin-top:10px
}