<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <toc
            file="eol/toc.xml"
            primary="false"/>
      <toc
            file="etl/toc.xml"
            primary="false"/>
      <toc
            file="ecl/toc.xml"
            primary="false"/>
      <toc
            file="eml/toc.xml"
            primary="false"/>
      <toc
            file="evl/toc.xml"
            primary="false"/>
      <toc
            file="general/toc.xml"
            primary="false"/>
   </extension>

</plugin>
