body {
	font-family : "Tahoma";
	font-size : 13px;
	background-image : url("../images/banner.png");
	background-repeat : no-repeat;
	background-position : top right;
	margin-top : 60px;
}

td {
	font-family : "Tahoma";
	font-size : 13px;
}

code {
	font-family : "Courier New";
}

a.code {
	font-family : "Courier New";
}

.signature {
	font-family : "Courier New";
	colora : #286296;
	color : #003399;
}

hr {
	border : 1px dotted black;
}
