.md-logo {
	display1: none;
}

.md-header-nav__title {
	padding-left: 0px;
	margin-left:0px;
}

[data-md-color-primary=black] .md-header {
	background-color: #494949;
}

.md-header-nav {
	background-color: #494949;
}

.epsilon-eclipse-links {
    display: table;
}

.epsilon-eclipse-links ul {
    display: table-row;
}

.epsilon-eclipse-links li {
    display: table-cell;
    padding: 1em;
}
